.App {
  text-align: center;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(191, 191, 191, 0.3);
  box-shadow: inset 0 0 6px rgba(191, 191, 191, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #db362c;
  outline: 1px solid #db362c;
}
body {
  overflow-y: auto;
  background-image: linear-gradient(to right, #ebebeb, #f0e6e6);
  font-family: "Playfair Display", serif;
}

.navbar-shadows {
  box-shadow: none !important;
}
.raleway {
  font-weight: 900 !important;
  font-family: "Raleway", sans-serif !important;
}
.main {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.loginContainer {
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  width: 100vw;
}

.wrapper {
  background-color: #ffffff;
  border-radius: 0.1rem;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2),
    0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 24rem;
  padding: 30px;
  overflow-y: hidden;
}

.section-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.6)),
    url("./assets/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.w-1 {
  margin: 8vh auto;
}

.w-2 {
  margin: 5vh auto;
}
.dropdown-default {
  z-index: 99;
}
.head {
  color: #ff512f;
  font-weight: bold;
}
.dropdown {
  color: #e43228 !important;
  font-weight: bold !important;
}

.dropdown:hover {
  color: #ff0d00 !important;
  transition: 0.7s;
}

.head:hover {
  color: rgb(255, 41, 137);
}

.hollow {
  color: rgb(255, 41, 137) !important;
}
.footer {
  width: 100vw;
  background-color: #aa0b19;
}
.fixed {
  position: fixed;
  bottom: 0%;
}
.title {
  font-size: 170%;
}
.participate-btn {
  background: rgb(252, 113, 0) !important;
  box-shadow: 0px 10px 20px rgba(255, 64, 30, 0.349) !important;
}
.participate-btn:hover {
  color: white !important;
  transition: 0.5s;
  box-shadow: 0px 10px 20px rgba(194, 126, 49, 0.479) !important;
}
.participants-btn {
  background: rgba(255, 28, 28, 1) !important;
  box-shadow: 0px 10px 20px rgba(254, 79, 48, 0.349) !important;
}
.participants-btn:hover {
  box-shadow: 0px 10px 20px rgba(255, 38, 0, 0.39) !important;
  transition: 0.5s;
  color: rgb(240, 240, 240) !important;
}

.participate-btn2 {
  background: rgb(221, 221, 221) !important;
  color: rgb(0, 0, 0) !important;
  box-shadow: none !important;
  border: 1px solid grey !important;
  /* font-style: italic; */
}
.icon {
  display: inline !important;
  padding: 0px !important;
}
.spacer {
  height: 30px;
}
.notif {
  color: #ff512f;
  padding-right: 15px !important;
}
.list-group {
  padding: 18px 0px !important;
  margin-right: 0px;
}
.list-group-item {
  border: none !important;
  outline: 0 !important;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.068);
  width: 95%;
  margin: 0px auto;
  height: 65px;
  transition: 0.3s;
  padding-left: 0 !important;
}

.list-group-item-modal {
  border: none !important;
  outline: 0 !important;
  /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.068); */
  width: 100%;
  margin: 20px auto;
  height: 32px;
  transition: 0.3s;
  padding-left: 20px !important;
}

.list-group-item:hover {
  /* width: 90.1%; */
  margin-left: auto;
  margin: 0px auto;
  /* height: 66px; */
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.116);
}
.list-group-item .eventName {
  flex: 3;
}
.list-group-item .button {
  flex: 0.5;
}
.addEventBtn {
  background: -moz-linear-gradient(
    357deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 81, 47, 1)),
    color-stop(100%, rgba(255, 28, 28, 1))
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    357deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    357deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(
    357deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* ie10+ */
  background: linear-gradient(
    93deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff512f', endColorstr='#FF1C1C',GradientType=1 ); /* ie6-9 */
  box-shadow: 0px 10px 20px rgba(254, 79, 48, 0.349) !important;
}

.doom:hover {
  cursor: pointer;
}

.btn-white {
  box-shadow: 0px 5px 20px rgba(196, 196, 196, 0.253) !important;
}

.participate-btn,
.participants-btn,
.participate-btn2 {
  width: 130px;
}

.button {
  margin-right: 10px;
}
.list-index {
  background: #db362c;
  padding: 20px;
  width: 95%;
  margin: 0% auto;
}
.btn-secondary {
  background: -moz-linear-gradient(
    357deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 81, 47, 1)),
    color-stop(100%, rgba(255, 28, 28, 1))
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    357deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    357deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(
    357deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* ie10+ */
  background: linear-gradient(
    93deg,
    rgba(255, 81, 47, 1) 0%,
    rgba(255, 28, 28, 1) 100%
  ); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff512f', endColorstr='#FF1C1C',GradientType=1 ); /* ie6-9 */
  box-shadow: 0px 10px 20px rgba(254, 79, 48, 0.349) !important;
}
.participantsKey {
  color: #fe5030;
  margin-top: 10px;
  padding-left: 50px;
  font-weight: bold;
  list-style-type: none;
}
.participantsValue {
  color: black !important;
  padding-left: 10px;
  font-weight: lighter;
}

.participantsContainer {
  background: #f8f8f8;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 25px;
  /* height: 60px; */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.116);
}
.eventNameHeader,
.eventStatus {
  font-weight: 600;
}
@media (max-width: 600px) {
  h1 {
    font-size: 24px !important;
  }
  .eventName {
    font-size: 12px !important;
  }
  .btn {
    width: 120px !important;
    font-size: 8px !important;
  }
}
@media screen and (max-width: 600px) {
  .event-box {
    width: 100% !important;
  }
}

@media (max-width: 450px) {
  .list-index {
    height: 40px;
  }
  .list-group-item {
    height: 40px;
  }
  .dContainer {
    height: 40px !important;
    width: 40px !important;
    margin-right: 15px !important;
  }
  .eventDay {
    font-size: 20px !important;
  }

  .eventMonth {
    font-size: 10px !important;
    position: relative;
    top: -8px !important;
  }
  .participate-btn,
  .participants-btn,
  .participate-btn2 {
    position: relative;
    left: 25px !important;
  }
  .eventNameHeader,
  .eventStatus {
    font-size: 15px;
  }
}
label {
  font-weight: bold;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.main-alert {
  position: fixed;
  top: 70px;
  right: 0;
  width: 30% !important;
  z-index: 99999999;
}
.alert-success {
  background-color: rgba(0, 200, 81, 0.95) !important;
  border: none !important;
  outline: 0 !important;
  border-radius: 0px !important;
  padding: 20px 0px 20px 30px !important;
  color: white !important;
  font-size: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3) !important;
}

.alert-failure {
  background-color: rgba(255, 53, 71, 0.95) !important;
  border: none !important;
  outline: 0 !important;
  border-radius: 0px !important;
  padding: 20px 0px 20px 30px !important;
  color: white !important;
  font-size: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3) !important;
}

.input-box {
  font-size: 13px !important;
}
.datePickerInput {
  cursor: pointer;
  width: 100% !important;
  padding: 8px !important;
  display: block;
  border-radius: 4px !important;
  border: 1px solid #ced4da !important;
  outline: 0 !important;
}
.datePickerFlex {
  display: flex;
  flex-direction: column;
}
.eventDate {
  display: flex !important;
  flex-direction: column !important;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

.eventDay {
  font-size: 30px;
}

.eventMonth {
  font-size: 15px;
  position: relative;
  top: -10px;
  text-transform: uppercase;
}
.dContainer {
  height: 65px;
  width: 65px;
  margin-right: 35px;
  border-radius: 2px;
  background: -moz-linear-gradient(
    357deg,
    rgb(236, 66, 32) 0%,
    rgb(238, 19, 19) 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(236, 66, 32, 1)),
    color-stop(100%, rgba(238, 19, 19, 1))
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    357deg,
    rgba(236, 66, 32, 1) 0%,
    rgba(238, 19, 19, 1) 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    357deg,
    rgba(236, 66, 32, 1) 0%,
    rgba(238, 19, 19, 1) 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(
    357deg,
    rgba(236, 66, 32, 1) 0%,
    rgba(238, 19, 19, 1) 100%
  ); /* ie10+ */
  background: linear-gradient(
    93deg,
    rgba(236, 66, 32, 1) 0%,
    rgba(238, 19, 19, 1) 100%
  );
  box-shadow: 5px 0px 10px rgba(254, 79, 48, 0.219) !important;
}
